/* * {
    border: 0.1px green solid;
} */

body {
    background-color: var(--secondary-color);
    color: #FFFFFF;
    width: 100%;
}

/* LOGO */
.logo-text {
    color: #FFFFFF;
}

/* SIGN UP SECTION */
.signup-section {
    flex-direction: column;
    margin: var(--spacing-xxlarge) 0;
}

.signup-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: var(--spacing-xxlarge) 0 var(--spacing-large) 0;
}

.signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius-medium);
    position: relative;
}

#apple,
#google {
    position: absolute;
    left: var(--spacing-medium);
}

/* OR TEXT */
.or-text {
    text-align: center;
    position: relative;
}

.or-text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--tertiary-color);
    width: 40%;
    height: 1px;
    z-index: 0;
}

.or-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    background-color: var(--tertiary-color);
    width: 40%;
    height: 1px;
    z-index: 0;
}

/* SIGN UP FORM */
.signup-form {
    flex-direction: column;
    gap: 1.5rem;
    margin: var(--spacing-large) 0 var(--spacing-medium) 0;
}

.signup-form input {
    width: 100%;
    height: 40px;
    padding: 0 var(--spacing-small);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius-medium);
    color: #FFFFFF;
}

.asterisk {
    color: var(--main-color);
    font-size: 0.75rem;
}

.form-group {
    flex-direction: column;
    gap: 0.1rem;
}

.form-btn {
    width: 100%;
    height: 40px;
    margin: var(--spacing-medium) 0;
}

/* PASSWORD WRAPPER */
.password-wrapper {
    position: relative;
}

.eye-icon-hidden,
.eye-icon-visible {
    position: absolute;
    right: var(--spacing-medium);
    top: 50%;
    transform: translateY(-50%)
}

.eye-icon-hidden:hover,
.eye-icon-visible:hover {
    cursor: var(--cursor-hover);
}

.eye-icon-visible {
    display: none;
}

/* EYE ICON CLICKED */
.eye-icon-hidden_clicked {
    display: none;
}

.eye-icon-visible_clicked {
    display: block;
}

/* PARAGRAPHS */
.login-text,
.terms-text {
    margin: var(--spacing-medium) 0;
}

/* FOOTER */
.footer {
    margin: 0 0 var(--spacing-xxlarge) 0;
    padding: 0;
}

.footer .copyright {
    margin: var(--spacing-large) 0 0 0;
}
