/* VARIABLES */
:root {
    /* FONTS */
    --logo-font: "Open Sans", sans-serif;

    /* COLORS */
    --main-color: #DE1F26;
    --text-color: #303030;
    --white: #FFFFFF;

    /* SPACING */
    
}

/* RESET STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* FRAMEWORK */
.flex {
    display: flex;
}

/* STYLES */
body {
    width: 100svw;
    position: relative;
    font-family: var(--logo-font);
    overflow-x: hidden;
}

/* LOGO */
.logo-main {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    min-width: max-content;
}

.logo-font {
    font-family: var(--logo-font);
    font-weight: 900;
    font-style: italic;
    color: var(--white);
    font-size: 3rem;
    letter-spacing: 1.5px;
}

.logo-square {
    background-color: var(--main-color);
    width:90px;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: skew(-13deg);
}

.logo-line_container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 85%;
    height: 75%;
}

.logo-line {
    background-color: var(--white);
    width: 5px;
    height: 100%;
    border-radius: 1px;
    transition: all 0.15s ease-in-out;
    transform-origin: top;
}

.logo-line-1 {
    height: 100%;
}

.logo-line-2 {
    height: 25px;
}

.logo-line-3 {
    height: 12px;
}

.logo-line-1_ani,
.logo-line-6_ani {
    transform-origin: top;
}

.logo-line-2_ani,
.logo-line-3_ani,
.logo-line-4_ani,
.logo-line-5_ani {
    transform-origin: bottom;
}

/* LOGO ICON HOVER ANIMATION */
.logo-main:hover .logo-line-1_ani {
    animation: line1 0.75s ease-in-out 0s;
}

.logo-main:hover .logo-line-2_ani {
    animation: line2 0.75s ease-in-out 0.125s;
}

.logo-main:hover .logo-line-3_ani {
    animation: line3 0.75s ease-in-out 0.25s;
}

.logo-main:hover .logo-line-4_ani {
    animation: line4 0.75s ease-in-out 0.375s;
}

.logo-main:hover .logo-line-5_ani {
    animation: line5 0.75s ease-in-out 0.5s;
}

.logo-main:hover .logo-line-6_ani {
    animation: line6 0.75s ease-in-out 0.625s;
}

/* LANDING PAGE BG */
.bg-image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* BG IMAGE GREY OVERLAY */
.bg-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    opacity: 0.7;
}

.main-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NAVBAR */
.navbar-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 20rem;
}

.navbar {
    width: 100%;
}

.nav-ul {
    width: 100%;
    gap: 3rem;
    justify-content: end;
}

.nav-li {
    min-width: max-content;
}

/* NAV ITEMS HOVER */
.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    transform: scale(0);
    transform-origin: left;
    transition: all 0.15s ease-in-out;
}

.nav-link:hover::before {
    transform: scale(1);
    transform-origin: left;
}

/* MOBILE NAVBAR */
.mobile-nav_navBar {
    display: none;
}

/* NAV ICON */
.mobile-nav {
    display: none;
}

/* MAIN SECTION HERO */
/* BUTTON */
.main-btn {
    max-width: max-content;
    display: inline-block;
}

.logo-square_btn {
    background-color: var(--main-color);
    width: max-content;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: skew(-13deg);
    padding: 0 0 0 1rem;
}

.logo-line_container_btn {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 70px;
    height: 70%;
}

.btn-font {
    font-family: var(--logo-font);
    font-weight: 900;
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: 0 1rem;
}

/* MAIN CONTENT */
.main {
    padding: 0 20rem;
}

.main-hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-hero-container_left {
    width: 50%;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.heading {
    font-family: var(--logo-font);
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}

.heading-2 {
    font-size: 3.2rem;
}

.heading-3,
.paragraph {
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
}

.inline-link {
    color: var(--main-color);
    position: relative;
    transition: all 0.15s ease;
}

/* INLINE LINK HOVER */
.inline-link:hover {
    text-decoration: underline;
}

.main-hero-container_right {
    width: 50%;
}

/* INLINE LOGO */
.inline-logo {
    font-weight: 900;
    font-style: italic;
}

/* SECTION 2 */
.section-2 {
    margin: 10rem 0;
    width: 100%;
}

.section-header-wrapper {
    color: var(--text-color);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5rem 0 6rem 0;
}

.heading-section {
    font-style: italic;
    font-size: 2.5rem
}

.logo-section {
    color: var(--text-color);
}

.app-paragraph {
    font-size: 1.5rem;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 3rem 0;
}

.section-card {
    max-width: 100%;
}

.app-screenshot {
    width: 70%;
    max-width: 230px;
    margin: 0 0 1rem 0;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 1860px) {
    .navbar-container {
        padding: 1rem 15rem;;
    }

    /* MAIN CONTENT */
    .main {
        padding: 0 20rem;
    }
}

@media only screen and (max-width: 1680px) {
    .navbar-container {
        padding: 1rem 12rem;
    }


    /* MAIN CONTENT */
    .main-hero-container_left {
        width: 100%;
        height: 50%;
        flex-direction: column;
        justify-content: space-between;
        color: white;
    }    
}

@media only screen and (max-width: 1600px) {
    .navbar-container {
        padding: 1rem 2rem;
        position: relative;
    }

    .navbar {
        display: none;
    }

    /* MOBILE NAVBAR */
    .mobile-nav_navBar {
        display: inline;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--text-color);
        height: 100%;
        width: 50%;
        max-width: 260px;
        z-index: 1;
        padding: 8rem 1.5rem;
        transform: translateX(110%);
    }

    .mobile-nav_navBar_clicked {
        transform: translateX(0);
        transition: all 0.15s ease;
    }

    .mobile-nav-ul {
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 2rem;
        text-align: right;
    }

    /* NAV ICON */
    .mobile-nav {
        display: inline;
    }

    .mobile-nav_drawer {
        width: 50px;
        height: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 1.5rem;
        right: 1rem;
        z-index: 2;
    }

    .drawer-line {
        width: 100%;
        height: 5px;
        background-color: var(--main-color);
    }

    .drawer-line-1 {
        transform: scaleX(0.34);
        transform-origin: right;
    }

    .drawer-line-1_clicked {
        transform: scaleX(1) rotate(-45deg) translateY(-6.9px);
        transition: all 0.15s ease;
    }

    .drawer-line-2 {
        transform: scaleX(0.67);
        transform-origin: right;
    }

    .drawer-line-2_clicked {
        transform: scaleX(0);
        transition: all 0.15s ease;
    }

    .drawer-line-3 {
        transform-origin: right;
    }

    .drawer-line-3_clicked {
        transform: rotate(45deg) translateY(6.9px);
    }

    /* MOBILE NAV ANIMATIONS */
    .mobile-nav_drawer:hover .drawer-line-1 {
        animation: navLine1 0.35s ease-in-out;
    }

    .mobile-nav_drawer:hover .drawer-line-2 {
        animation: navLine2 0.35s ease-in-out 0.117s;
    } 

    .mobile-nav_drawer:hover .drawer-line-3 {
        animation: navLine3 0.35s ease-in-out 0.234s;
    }

    /* DRAWER LINE WHEN CLICKED */
    .mobile-nav_drawer:not(.mobile-nav_drawer_clicked):hover .drawer-line-1 {
        animation: navLine1 0.35s ease-in-out;
    }

    .mobile-nav_drawer:not(.mobile-nav_drawer_clicked):hover .drawer-line-2 {
        animation: navLine2 0.35s ease-in-out 0.117s;
    }

    .mobile-nav_drawer:not(.mobile-nav_drawer_clicked):hover .drawer-line-3 {
        animation: navLine3 0.35s ease-in-out 0.234s;
    }

    /* DRAWER LINE WHEN CLICKED */
    .mobile-nav_drawer_clicked:hover .drawer-line-1,
    .mobile-nav_drawer_clicked:hover .drawer-line-2,
    .mobile-nav_drawer_clicked:hover .drawer-line-3 {
        animation: none;
    }

    /* MAIN CONTENT */
    .main {
        position: relative;
    }

    .section-header-wrapper > .logo-main {
        display: none;
    }

}

@media only screen and (max-width: 1500px) {
    /* MAIN CONTENT */
    .main-hero-container_right {
        display: none;
    }
}

@media only screen and (max-width: 1220px) {
    .main {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 782px) {
    .navbar-container {
        padding: 1rem;
    }

    .logo-font {
        font-size: 1.5rem;
        letter-spacing: 1.5px;
    }
    
    .logo-square {
        background-color: var(--main-color);
        width: 50px;
        height: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        transform: skew(-13deg);
    }

    .logo-line_container {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        width: 80%;
        height: 70%;
    }
    
    .logo-line {
        background-color: var(--white);
        width: 4px;
        height: 100%;
        border-radius: 1px;
        transition: all 0.15s ease-in-out;
        transform-origin: top;
    }
    
    .logo-line-1 {
        height: 100%;
    }
    
    .logo-line-2 {
        height: 15px;
    }
    
    .logo-line-3 {
        height: 8px;
    }

    .logo-line-1_ani,
    .logo-line-6_ani {
        transform-origin: top;
    }

    .logo-line-2_ani,
    .logo-line-3_ani,
    .logo-line-4_ani,
    .logo-line-5_ani {
        transform-origin: bottom;
    }

    .mobile-nav_drawer {
        width: 40px;
        height: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .drawer-line {
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
    }

    /* MAIN CONTENT */
    .main {
        padding: 0 2rem;
    }
    
    .main-hero-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .main-hero-container_left {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    .main-hero-container_right {
        display: none;
    }
    
    .heading {
        font-family: var(--logo-font);
        font-weight: 900;
        font-style: italic;
        letter-spacing: 1px;
        margin: 1rem 0;
        color: white;
    }
    
    .heading-2 {
        font-size: 2rem;
        line-height: 3rem;
    }
    
    .heading-3,
    .paragraph {
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 1px;
        line-height: 2.4rem;
    }
    
    .inline-link {
        color: var(--main-color);
        position: relative;
        transition: all 0.15s ease;
    }
    
    /* INLINE LINK HOVER */
    .inline-link:hover {
        text-decoration: underline;
    }
    
    .main-hero-container_right {
        width: 50%;
    }

    /* BUTTON */
    .main-btn {
        margin: 1rem 0;
    }

    .logo-line_container_btn {
        width: 40px;
        height: 21px;
    }

    .section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* APP GRID */
    .section-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-card {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
    }

    .card-2 {
        flex-direction: row-reverse;
        transform: translateY(-100px);
    }

    .card-3 {
        transform: translateY(-100px);
    }

    .card-4 {
        flex-direction: row-reverse;
        transform: translateY(-200px);
    }

    #a-text {
        margin: 1rem 0 0 0;
    }

    #b-text {
        align-self: flex-end;
        margin: 0 0 2rem 0;
    }

    #c-text {
        margin: 1rem 0 0 0;
    }

    #d-text {
        align-self: flex-end;
        margin: 0 0 2rem 0;
    }

    .app-screenshot {
        width: 50%;
        height: auto;
    }
}

/* KEYFRAME ANIMATIONS */
/* LOGO ICON */
@keyframes line1 {
    0%, 100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.32);
    }
}

@keyframes line2 {
    0%, 100% {
        transform: scaleY(1);
    }

    33% {
        transform: scaleY(1.5);
    }

    66% {
        transform: scaleY(0.32);
    }
}

@keyframes line3 {
    0%, 100% {
        transform: scaleY(1);
    }

    33% {
        transform: scaleY(3);
    }

    66% {
        transform: scaleY(0.25);
    }
}

@keyframes line4 {
    0%, 100% {
        transform: scaleY(1);
    }

    33% {
        transform: scaleY(3);
    }

    66% {
        transform: scaleY(0.25);
    }
}

@keyframes line5 {
    0%, 100% {
        transform: scaleY(1);
    }

    33% {
        transform: scaleY(1.5);
    }

    66% {
        transform: scaleY(0.32);
    }
}

@keyframes line6 {
    0%, 100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.32);
    }
}

/* MOBILE NAV ICON HOVER*/
@keyframes navLine1 {
    0%, 100% {
        transform: scaleX(0.34);
    }

    50% {
        transform: scaleX(1);
    }
}

@keyframes navLine2 {
    0%, 100% {
        transform: scaleX(0.67);
    }

    50% {
        transform: scaleX(1);
    }
}

@keyframes navLine3 {
    0%, 100% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0.67);
    }
}